@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode için animasyon ekleyelim */
.dark {
  background-color: #1a1a1a;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
